&--analytics {
  color: $color-analytics;
}

&--design {
  color: $color-design;
}

&--prototype {
  color: $color-prototype;
}

&--development {
  color: $color-development;
}

&--release {
  color: $color-release;
}

&--testing {
  color: $color-testing;
}

&--monitoring {
  color: $color-monitoring;
}